.card {
  background: linear-gradient(var(--bg), #fff 90%);
  color: var(--text);
  padding: 30px;
  border-radius: 20px;

  &__icon {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
  }
  &__heading {
    font-size: 32px;
    padding: 0;
    margin-bottom: 40px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;

    &_item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "✓";
        margin-right: 20px;
      }
    }
  }
  &__project_no {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
