.card {
  width: 300px;
  background: linear-gradient(#b68bed, #fff 90%);
  color: #532eb9;
  padding: 30px;
  border-radius: 20px;

  &__heading {
    padding: 0;
    margin-bottom: 40px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;

    &_item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "✓";
        margin-right: 20px;
      }
    }
  }
  &__project_no {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
