.services-ticker-block {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  height: 200px;
}

.stb_line_single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
  display: inline-block;
  overflow: hidden;
}

.stb-item {
  padding: 0;
  font-size: 6.4rem;
  display: inline-block;
  margin-right: 10rem;
  font-family: "Didot Bold";
  transform: scaleY(1.5);
}
