$--purple: #532eb9;
$--purple-text: #532eb9;

//green color combinations
$--green: #1b646b;
$--green-text: #1b646b;

// font family

$--font-pathway: "Pathway Extreme", system-ui, -apple-system, Segoe UI, Roboto,
  Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
