$--purple: #532eb9;
$--purple-text: #532eb9;

//green color combinations
$--green: #1b646b;
$--green-text: #1b646b;

// font family

// $--font-pathway: "Imbue", serif;
// $--font-pathway: "Cinzel Decorative", serif;
$--font-pathway: "Cinzel", serif;
